<!DOCTYPE html>
<html lang="en">
  <body>
    <div id="contacts-table">
      <table class="contacts-data">
        <caption>Qui sommes-nous ? :</caption>
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Formation</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Zacharie</th>
            <th>Master 1 IRS à Paris-Saclay Université</th>
            <th rowspan="4">carbu.aws@gmail.com</th>
          </tr>
          <tr>
            <th>Raphaël</th>
            <th>Master 1 DataScale à Paris-Saclay Université</th>
          </tr>
          <tr>
            <th>Lissia</th>
            <th>Master 1 IRS à Paris-Saclay Université</th>
          </tr>
          <tr>
            <th>Maria</th>
            <th>Master 1 DataScale à Paris-Saclay Université</th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>