<!DOCTYPE html>
<html lang="en">
<body>
  <script>
    /*  */
    function myFunction() {
      document.getElementById("navbarContent").classList.toggle("show");
    }

    // 
    window.onclick = function(event) {
      if (!event.target.matches('.navbar-toggler')) {
        var dropdowns = document.getElementsByClassName("navbar-collapse");
        var i;
        for (i = 1; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.0557708573742!2d2.2096176151985545!3d48.78082551411976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67bd9027889f5%3A0x943b6ad3f845c17a!2s5%20Rue%20Paul%20Dautier%2C%2078140%20V%C3%A9lizy-Villacoublay!5e0!3m2!1sfr!2sfr!4v1647404262473!5m2!1sfr!2sfr" width="1360" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</body>
</html>