

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bod {
    width : 100%;
    display: flex;
    justify-content: center;
    font-family: "Segoe UI";
    background-color: rgb(255, 255, 255);
}



table {
    width: 100%;
    border-collapse: collapse;
}

.container-contacts {
    width:800px;
    margin-top:4%;
    border-radius: 3em; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container-contacts thead th {
    position: sticky;
    background-color: rgba(0, 181, 204);
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 30px;
    
}


tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

caption {
    font-family: "Segoe UI";
    padding: 10px;  
  }