<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div id="menu-index" class="bg-dark">
      <button onclick="myFunction()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <script src="/scripts/buildMenu.js" type="text/javascript" defer></script>
    {{{body}}}
  </body>
</html>